<div class="footnav">
    <ul class="clearfix">
   		<%
   			 data = [
   			 	{icon:['money','infr','ecotope','livelihood','home','gover','culture','transportation','water','expect'],title:['经济运行','基础设施','生态环境','民生舆情','首页','政务效能','文化建设','交通运输','敬请期待','敬请期待']}
   			 ];
   			 for(var i in data){
   			 	for(var j in data[i].icon){
   		%>
      <li class="<%= data[i].title[j] == '首页' ? 'noshadow' : '' %> <%= local.title == data[i].title[j] ? 'active' : '' %>">
	      <a href="<%= data[i].title[j] == '首页' ? 'index' : data[i].title[j] %>.html" class="<%= data[i].title[j] == '首页' ? 'indexa' : '' %>">
	        <i class="ic <%= data[i].icon[j] %><%= local.title == data[i].title[j] ? '-y' : '' %>"></i>
	        <%= data[i].title[j] == '首页' ? '' : data[i].title[j] %>
        </a>
      </li>
      <%
	      	}
	      }
      %>
    </ul>
  </div>
